*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 80%;
    margin: auto;
}

header{
    height: 100px;
}

/*titolo e descrizione */
h1{
    margin: 2% 40%;
    color: rgb(183, 87, 100);
}

p{
    text-align: center;
}

/* main */
    /* prima riga */
    main{
        margin-top: 5%;
    }
    .row{
        min-height: 100px;
    }
    .row::after{
        content: "";
        display: table;
        clear: both;
    }

    /* colonne */
    .col{
        min-height: 150px;
        float: left;
        width: calc(100% / 3);
        padding: 15px;
       
        
    }

    /* foto e descrizione membri */

    .member{
        background-color: black;
        height: 118px;
    }

    .picture{
        height: 118px;
        float: left;
     }

     .description{
        margin: 5;
        color: white;
        text-align: center;
    
     }
     
    

    
